@import "../../components/mixins";

.poster {
  position: relative;
  padding: 24px 0;

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 0;
    width: 50%;
    height: calc(100% - 48px);
    background-color: #ffc700;
    z-index: -1;

    @media (max-width: 1024px) {
      display: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 72px;
    right: 0;
    width: 30%;
    height: calc(100% - 96px);
    background-color: #f7f8f9;
    z-index: -1;

    @media (max-width: 1300px) {
      top: 100px;
      height: calc(100% - 124px);
    }

    @media (max-width: 1024px) {
      display: none;
    }
  }

  @media (max-width: 768px) {
    padding-top: 10px;
    overflow: hidden;
  }

  &__logo {
    position: absolute;
    bottom: 24px;
    left: 0;
    width: 20%;
    height: auto;
    z-index: 1;

    @media (max-width: 1024px) {
      display: none;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1024px) {
      flex-direction: column;
      padding: 0;
    }
  }

  &__main {
    position: relative;
    min-width: 65.8%;
    padding-top: 70px;
    padding-bottom: 50px;
    margin-right: 35px;
    background-color: #ffc700;
    border-radius: 0 40px 40px 0;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: -90px;
      width: 57%;
      height: 100%;
      background-image: url("/static/images/poster.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom;

      @media (max-width: 1300px) {
        right: 0;
        width: 45%;
      }

      @media (max-width: 500px) {
        width: 203px;
        height: 285px;
        right: -100px;
      }
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-image: url("/static/images/poster-bg.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom right;
    }

    @media (max-width: 1024px) {
      padding-left: 40px;
    }

    @media (max-width: 768px) {
      padding: 42px 25px 60px 15px;
      margin-right: 15px;
    }
  }

  &__title {
    @include font-namu(55px, 66px);
    font-weight: 400;
    position: relative;
    max-width: 505px;
    margin: 0;
    text-transform: uppercase;
    z-index: 2;

    @media (max-width: 768px) {
      @include font-namu(38px, 48px);
    }
  }

  &__description {
    @include font-size(22px, 35px);
    font-weight: 500;
    position: relative;
    max-width: 400px;
    margin-top: 30px;
    color: #181a1c;
    z-index: 2;

    @media (max-width: 768px) {
      @include font-size(18px, 22px);
      margin-top: 20px;
    }

    @media (max-width: 500px) {
      max-width: 311px;
    }
  }

  &__button {
    position: relative;
    margin-top: 40px;
    width: 280px;
    z-index: 2;

    @media (max-width: 768px) {
      margin-top: 30px;
    }
  }

  &__socials {
    position: relative;
    margin-top: 70px;
    z-index: 2;

    @media (max-width: 1024px) {
      margin-top: 30px;
    }
  }

  &__side {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    @media (max-width: 1024px) {
      margin-left: 40px;
      margin-top: 15px;
    }

    @media (max-width: 768px) {
      margin-left: 15px;
    }
  }

  &__side-socials {
    @media (max-width: 1300px) {
      flex-direction: column;
      align-items: flex-start;

      & > .socials__list {
        margin-left: 0;
        margin-top: 10px;
      }
    }

    @media (max-width: 1024px) {
      flex-direction: row;
      align-items: center;

      & > .socials__list {
        margin-left: 10px;
        margin-top: 0;
      }
    }
  }

  &__info {
    flex: auto;
    margin-top: 24px;
    padding: 62px 20px 0 40px;
    border-radius: 20px 0 0 20px;
    background-color: #f7f8f9;

    @media (max-width: 1024px) {
      padding: 40px 40px 55px 40px;
    }

    @media (max-width: 768px) {
      margin-top: 20px;
      padding: 18px 15px 55px 15px;
    }

    &-title {
      @include font-namu(39px, 42px);
    }

    &-subtitle {
      @include font-namu(31px, 42px);
      width: max-content;
      margin-top: 25px;
      margin-left: 15.6%;
      padding: 0 20px 0 50px;
      background-image: url("/static/images/sticker.svg");
      background-size: cover;
      background-repeat: no-repeat;

      @media (max-width: 768px) {
        margin-top: 10px;
        margin-left: 80px;
      }
    }

    &-text {
      @include font-size(20px, 32px);
      margin-top: 45px;
      color: #181a1c;

      @media (max-width: 768px) {
        @include font-size(16px, 24px);
        margin-top: 20px;
      }
    }
  }
}

.about {
  padding-top: 110px;
  padding-bottom: 50px;

  @media (max-width: 1024px) {
    padding-top: 50px;
    padding-bottom: 20px;
  }

  @media (max-width: 768px) {
    padding-top: 10px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__description {
    width: 57.5%;

    @media (max-width: 1024px) {
      width: 65%;
    }

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__text {
    @include font-size(16px, 24px);
    color: #141516;
    margin-top: 15px;

    &:first-of-type {
      margin-top: 30px;
    }

    @media (max-width: 768px) {
      @include font-size(14px, 20px);

      &:first-of-type {
        margin-top: 15px;
      }
    }
  }

  &__nomination {
    position: relative;
    max-width: 338px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: row;
      margin-top: 30px;
      max-width: fit-content;
    }
  }

  &__number {
    @include font-size(328px, 249px);
    font-weight: 700;
    letter-spacing: -13.12px;
    color: #2a2c3f;

    @media (max-width: 1300px) {
      @include font-size(211px, 160px);
    }

    &-text {
      @include font-namu(42px, 42px);
      color: #f90;
      position: absolute;
      top: 105px;
      left: -40px;
      transform: rotate(-90deg);

      @media (max-width: 1300px) {
        @include font-size(27px, 18px);
        top: 72px;
        left: -25px;
      }

      @media (max-width: 768px) {
        top: 75px;
      }
    }
  }

  &__best {
    @include font-namu(25px, 36px);
    max-width: 207px;
    margin-top: 20px;

    @media (max-width: 1300px) {
      @include font-namu(20px, 25px);
      max-width: 140px;
      margin-top: 15px;
    }

    @media (max-width: 768px) {
      margin-left: 20px;
      margin-top: 0;
    }

    & > span {
      @include font-size(27px, 36px);
      color: #ff7a00;

      @media (max-width: 1300px) {
        @include font-size(20px, 25px);
      }
    }
  }

  &__partners {
    margin-top: -130px;

    @media (max-width: 1300px) {
      margin-top: 40px;
    }
  }

  &__main-partners {
    position: relative;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    padding: 38px 44px 24px 35px;
    border-radius: 20px 20px 0 0;
    background-color: #f9fafc;

    @media (max-width: 1300px) {
      max-width: 100%;
    }

    @media (max-width: 1024px) {
      padding: 20px;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: -40px;
      width: 40px;
      height: 40px;

      @media (max-width: 1300px) {
        display: none;
      }
    }

    &::before {
      background-color: #f9fafc;
    }

    &::after {
      background-color: #fff;
      border-radius: 0 0 0 40px;
    }
  }

  &__main-partner {
    width: 43%;

    @media (max-width: 1024px) {
      width: 48%;
    }

    @media (max-width: 768px) {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__partner-title {
    @include font-namu(25px, 52px);
    margin-bottom: 6px;

    @media (max-width: 768px) {
      text-align: center;
    }

    &_grey {
      margin-bottom: 0;
      padding-top: 24px;
      padding-left: 35px;
      background-color: #f9fafc;
      border-radius: 0 20px 0 0;

      @media (max-width: 1300px) {
        border-radius: 0;
      }

      @media (max-width: 1024px) {
        padding-top: 20px;
        padding-left: 20px;
      }
    }
  }

  &__img-wrapper {
    display: block;
    width: 100%;
    height: 70px;
    transition: transform 0.4s;

    &:hover {
      transform: translateY(-5px);
    }

    @media (max-width: 1300px) {
      max-width: 310px;
    }
  }

  &__partner-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__partners-list {
    display: flex;
    flex-wrap: wrap;
    padding: 6px 35px 114px;
    border-radius: 0 0 20px 20px;
    background-color: #f9fafc;

    @media (max-width: 1024px) {
      padding: 6px 20px 50px;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__partner {
    width: 295px;
    height: 70px;
    margin-right: 15px;
  }
}

.nomination-block {
  padding-top: 110px;
  padding-bottom: 50px;

  @media (max-width: 1024px) {
    padding-top: 50px;
    padding-bottom: 20px;
  }

  @media (max-width: 768px) {
    padding-top: 10px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__text {
    width: 48.5%;
    @include font-size(18px, 26px);
    color: #181a1c;
    font-weight: 500;

    @media (max-width: 1024px) {
      font-size: 16px;
    }

    @media (max-width: 768px) {
      margin-top: 15px;
      width: 100%;
      max-width: 500px;
    }

    & > span {
      display: block;
      font-style: italic;
      font-weight: 600;
    }
  }

  &__types {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1024px) {
      margin-top: 40px;
      flex-direction: column;
    }
  }

  &__type {
    width: 48.6%;
    border-radius: 20px;
    border: 1px solid #cfd7e3;
    transition: transform 0.4s, box-shadow 0.4s;

    &:hover {
      transform: translateY(-10px);
      box-shadow: 0px 50px 38px -44px rgba(0, 0, 0, 0.25);
    }

    @media (max-width: 1024px) {
      width: 100%;

      &:last-child {
        margin-top: 20px;
      }
    }
  }

  &__link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 30px 24px 26px 15px;
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
      padding: 18px 13px 20px;
      align-items: flex-start;
    }
  }

  &__img-wrapper {
    height: 200px;
    width: 170px;
    min-width: 170px;

    @media (max-width: 768px) {
      height: 150px;
      width: 127px;
      min-width: 127px;
    }

    @media (max-width: 500px) {
      height: 100px;
      width: 85px;
      min-width: 85px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top;
  }

  &__type-info {
    margin-left: 25px;

    @media (max-width: 768px) {
      margin-left: 10px;
    }
  }

  &__type-title {
    @include font-size(18px, 24px);
    font-weight: 600;
    color: #141516;

    @media (max-width: 768px) {
      font-size: 16px;
    }
  }

  &__type-text {
    margin-top: 5px;
    @include font-size(16px, 24px);
    color: #141516;

    @media (max-width: 768px) {
      @include font-size(14px, 20px);
    }

    @media (max-width: 500px) {
      font-size: 12px;
    }

    & > span {
      display: block;
      font-style: italic;
      font-weight: 500;
    }
  }

  &__footer {
    position: relative;
    margin-top: 80px;
    padding: 60px 100px;
    border-radius: 20px;
    background: #f3f5f5;

    @media (max-width: 1024px) {
      padding: 50px 30px 75px;
      margin-top: 60px;
    }

    &::after {
      content: "";
      position: absolute;
      top: -20px;
      right: 6.7%;
      height: 105%;
      width: 31%;
      background-image: url("/static/images/hand.png");
      background-size: cover;
      z-index: 0;

      @media (max-width: 1300px) {
        right: 0;
      }

      @media (max-width: 1024px) {
        width: 242px;
        height: 257px;
        top: 50%;
        transform: translateY(-50%);
      }

      @media (max-width: 768px) {
        right: inherit;
        left: 20px;
        top: 180px;
        transform: translateY(0);
      }
    }

    &-title {
      position: relative;
      z-index: 1;
      @include font-namu(36px, 42px);

      @media (max-width: 1024px) {
        font-size: 30px;
      }

      @media (max-width: 768px) {
        @include font-namu(26px, 35px);
      }

      & > span {
        padding: 0 5px;
        background-image: url("/static/images/sticker-2.svg");
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;
      }
    }

    &-button {
      margin-top: 35px;
      width: 280px;
      @include font-namu(18px, 52px);
      font-weight: 400;

      @media (max-width: 768px) {
        position: relative;
        z-index: 1;
        margin-top: 240px;
      }
    }
  }
}

.blog {
  padding-top: 110px;
  padding-bottom: 50px;

  @media (max-width: 1024px) {
    padding-top: 50px;
    padding-bottom: 20px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;

    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }

  &__aside {
    width: 320px;

    @media (max-width: 1024px) {
      width: 100%;
    }
  }

  &__title {
    @media (max-width: 1024px) {
      max-width: 500px;
    }

    @media (max-width: 768px) {
      line-height: 45.5px;
    }
  }

  &__link {
    position: relative;
    padding-right: 41px;
    @include font-namu(23px, 42px);
    color: #f90;

    @media (max-width: 1024px) {
      display: none;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 5px;
      transform: translateY(-40%);
      width: 24px;
      height: 24px;
      background-image: url("/static/images/arrow.svg");
      transition: transform 0.4s;
    }

    &:hover::after {
      transform: translate(5px, -50%);
    }
  }

  &__form {
    max-width: 320px;
    padding: 17px 20px 34px;
    border-radius: 22px;
    background-color: #373c3f;
    text-align: center;
    position: absolute;
    top: 400px;
    left: 0;

    @media (max-width: 1024px) {
      position: static;
      max-width: 500px;
      margin-top: 20px;
      align-self: center;
    }

    &-title {
      @include font-namu(18px, 34px);
      color: #fff;
    }

    &-subtitle {
      margin-top: 20px;
      @include font-namu(28px, 36px);
      text-transform: uppercase;
      color: #fff;

      & > span {
        @include font-size(33px, 42px);
      }
    }

    &-description {
      margin-top: 20px;
      @include font-size(13px, 18px);
      color: #c3bbbb;
      opacity: 0.8;

      & > a {
        text-decoration: underline;
        color: #c3bbbb;

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }

  &__input {
    margin-top: 34px;
    width: 100%;
    padding: 15px 20px;
    border-radius: 8px;
    background: #f3f5f5;
    @include font-size(16px, 24px);
    color: #181a1c;
    text-align: center;
    border: none;
    outline: none;
  }

  &__button {
    width: 100%;
    margin-top: 15px;
    padding: 15px 20px;
    font-size: 18px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 65.8%;
    max-width: 65.8%;
    margin: -20px 0 -20px 6.5%;
    flex: auto;

    @media (max-width: 1024px) {
      width: 100%;
      max-width: 100%;
      margin: 40px 0 0;
    }
  }

  &__item {
    width: 48%;
    margin: 20px 0;

    @media (max-width: 600px) {
      width: 100%;
    }
  }
}

.videos {
  padding-top: 110px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1024px) {
    padding-top: 50px;
    padding-bottom: 20px;
    flex-direction: column;
  }

  &__aside {
    width: 320px;

    @media (max-width: 1024px) {
      width: 100%;
      max-width: 680px;
    }
  }

  &__subtitle {
    max-width: 250px;
    margin-top: 25px;
    @include font-namu(29px, 41px);
    text-transform: uppercase;

    @media (max-width: 1024px) {
      @include font-namu(24px, 35px);
      margin-top: 15px;
      max-width: initial;
    }

    @media (max-width: 768px) {
      @include font-namu(20px, 31px);
      margin-top: 10px;
    }
  }

  &__text {
    @include font-size(16px, 26px);
    font-weight: 500;
    margin-top: 20px;

    & > a {
      color: #f90;
      font-weight: 600;
      text-decoration: underline;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 65.8%;
    max-width: 65.8%;
    margin: -10px 0 -10px 6.5%;
    flex: auto;

    @media (max-width: 1024px) {
      width: 100%;
      max-width: 100%;
      margin: 40px 0 0;
    }
  }

  &__item {
    width: 48%;
    margin: 10px 0;

    @media (max-width: 600px) {
      width: 100%;
    }

    &_big {
      width: 100%;
    }
  }
}
