@import "../../components/mixins";

.faq {
  margin: 64px auto 240px;
  max-width: 1040px;
  padding: 0 20px;

  &__item {
    margin-top: 50px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__question {
    @include font-namu(20px, 52px);
  }

  &__answer {
    margin-top: 7px;
    @include font-size(18px, 32px);
  }
}