<header class="header container">
  <div class="header__logos">
    <a href="/" class="header__logo header__logo_main">
      <img src="/static/images/logo.svg" alt="logo" width="162" height="67">
    </a>
    <ul class="header__partners">
      <li class="header__partner">
        <a href="https://www.amic.ru/" class="header__logo header__logo_amic">
          <img src="/static/images/amic.png" alt="amic" width="62" height="19">
        </a>
      </li>
      <li class="header__partner">
        <a href="https://vk.com/businessfm_barnaul" class="header__logo header__logo_fm">
          <img src="/static/images/business-fm.png" alt="business-fm" width="115" height="24">
        </a>
      </li>
    </ul>
    <button class="header__burger" type="button"></button>
  </div>
  <nav class="header__nav">
    <ul class="header__links">
      <li class="header__link">
        <a href="/pages/participant" class="">Участникам</a>
      </li>
      <li class="header__link">
        <a href="/pages/nominations" class="">Номинации</a>
      </li>
      <li class="header__link">
        <a href="/pages/rules" class="">Правила</a>
      </li>
      <li class="header__link">
        <a href="/pages/blog" class="">Новости</a>
      </li>
      <li class="header__link">
        <a href="/pages/nzk-22" class="">НЗК22</a>
      </li>
    </ul>
    <div class="header__buttons">
      <a href="#" class="header__button button">Принять участие</a>
      <button class="header__log button">Вход</button>
    </div>
  </nav>
</header>