@import "mixins";

$font-default: "Montserrat", "Helvetica", sans-serif;
$font-title: "NAMU", "Helvetica", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: $font-default;
  @include font-size(16px, 24px);

  &.no-scroll {
    overflow: hidden;
  }
}

ul {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
  transition: opacity 0.4s;
}

.container {
  max-width: 1376px;
  margin: 0 auto;
  padding: 0 80px;

  @media (max-width: 1024px) {
    padding: 0 40px;
  }

  @media (max-width: 768px) {
    padding: 0 16px;
  }
}

.section-title {
  @include font-namu(46px, 60px);
  font-weight: 400;
  text-transform: uppercase;

  @media (max-width: 1024px) {
    @include font-namu(36px, 54px);
  }

  @media (max-width: 768px) {
    @include font-namu(28px, 52px);
  }
}

// Подключение компонентов
@import "./ui/buttons/buttons";
@import "./header/header";
@import "./ui/socials/socials";
@import "./innerPoster/innerPoster";
@import "./vpnBanner/vpnBanner";
@import "./nomination/nomination";
@import "./nominee/nominee";
@import "./blogCard/blogCard";
@import "./footer/footer";
@import "./ui/popup/popup";