@font-face {
  font-family: "NAMU";
  src: url("./namu/Namu-regular.otf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./montserrat/Montserrat-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./montserrat/Montserrat-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./montserrat/Montserrat-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./montserrat/Montserrat-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}