@import "../../components/mixins";

.nominations {
  margin-top: 60px;
  margin-bottom: 160px;

  @media (max-width: 768px) {
    margin-bottom: 100px;
  }

  &__chapter {
    margin-bottom: 80px;
  }

  &__title {
    @include font-namu(19px, 52px);
    color: #FF7A00;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -40px;

    @media (max-width: 768px) {
      margin: 0 -20px;
    }

    @media (max-width: 500px) {
      margin: 0 -6px;
    }
  }

  &__item {
    margin: 0 40px 40px;
    width: calc(100% / 5 - 80px);

    @media (max-width: 1024px) {
      width: calc(100% / 4 - 80px);
    }

    @media (max-width: 768px) {
      margin: 0 20px 40px;
      width: calc(100% / 3 - 40px);
    }

    @media (max-width: 500px) {
      margin: 0 6px 40px;
      width: calc(100% / 2 - 12px);
    }
  }
}