<footer class="footer">
  <div class="footer__wrapper container">
    <a href="/" class="footer__logo">
      <img src="/static/images/footer-logo.png" alt="logo" width="218" height="90">
    </a>
    <div class="footer__contacts">
      <div class="footer__advertising">
        <span>Рекламная служба</span>
        <a href="tel:+73852271816">+ 7 (3852) 27-18-16</a>
        <a href="mailto:fmreklama@altfm.ru">fmreklama@altfm.ru</a>
      </div>
      <div class="footer__supervisor">
        <span>Руководитель проекта</span>
        <span>Татьяна Бондарева</span>
        <a href="mailto:bondareva@altfm.ru">bondareva@altfm.ru</a>
      </div>
    </div>
  </div>
  <div class="container">
    <p class="footer__note">* Знак «Народный знак качества» является собственностью ИА "Амител" и присваивается
      компании-победителю народного голосования, что подтверждается дипломом конкурса. 12+</p>
  </div>
</footer>