<li class="nominee @@class">
  <div class="nominee__header">
    <div class="nominee__img-wrapper">
      <img class="nominee__img" src="@@imgURL" alt="nominee" width="121" height="88">
    </div>
    <p class="nominee__title">@@title</p>
    <button class="nominee__close" type="button"></button>
  </div>
  <ul class="nominee__list">
    <li class="nominee__item">Название компании</li>
    <li class="nominee__item">Название компании</li>
    <li class="nominee__item">Название компании</li>
    <li class="nominee__item">Название компании</li>
    <li class="nominee__item">Название компании</li>
    <li class="nominee__item">Название компании</li>
    <li class="nominee__item">Название компании</li>
    <li class="nominee__item">Название компании</li>
    <li class="nominee__item">Название компании</li>
    <li class="nominee__item">Название компании</li>
  </ul>
</li>